.green{
    color: green;
}
.red{
    color:red;
}
.blue{
    color:blue;
}
.big{
    font-size: 2em;
}
.container1{
    display: inline-block;
    width: 350px;
    vertical-align: text-top;
}
.form-group{
    margin-bottom: 10px;
}