<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Landing Page</title>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
	</head>
	<body>
		<div id="container">
			<div id="header">
				<h1>Hey Kunoichi!</h1>
				<h3>Welcome to the LadyNinja dojo!</h3>
			</div>

			<div id="content">
				<p>
					In Bansensyukai,female Ninjas are called " Kunoich i" .In Japanese, " Kunoichi " means "nine plus one ". The interpretation of this phrase is that, a woman biologically has "ten" = "nine plus one" holes in her body comparing with a man who has nine holes in his body like eyes, ears, a mouth…. But today, the meaning of Kunoichi is considered that "Kunoichi" is the separations of a Kanji (漢字) , which expresses about " woman (女, おんな ,onna ). The letter "女" can be devided in three Japanese words. They are " く(ku) " , " ノ (No) ", and "一 ( Ichi ) ". However this interpretation is only the influence of " Yamada, Futarou (山田風太郎 ) " , who is a famous historical novel writer. He often used this expression in his works. In this connection, male Ninjas were called " Tajikara ". In Kanji, the letter that indicates a man is " 男 ( おとこ otoko ) " . This word can be also separated " 田 ( た, ta ) " and "力 ( ちから, chikara ) ". So, they are "Tajikara".
				</p>
				<p>
					According to the historical records, Kunoichis did neither fight nor do flashy espionage. Their main role is to be maids of their enemies. As they invade their hostile residences legally, from the casual conversations with another maids or servants, they pick up secrets information. Generally speaking, people are not cautious about women.Kunoichis take advantage of it.
				</p>
				<p>
					And Kunoichis adopted such tactics. After they had worked for their enemies and got credit by the people around them, they demand their masters to bring burden from their parents'home.The burden is packed in a big cage, and the box has dual-bottoms. On the lower bottom, a male Ninja is hiding. In this way, a Ninja can sneak into the hostile castle. Eventually, maids are given the period to go back their hometown a few times in a year. Of course, their guarantees are their Ninja masters.Then, Kunoichis can tell their bosses about informations which they had got in hostile residences.
				</p>
				<p>
					In principle, the jobs of Kunoichis are the supports to male Ninjas, Kunoichis sometimes act indipendently. It is when they utilize a weapon as a female. In short, Kunoichis sometimes sleep with their enemies and try to bring out secrets. Hopefully further, Kunoichis may be able to control even their enemies by obsessing them with sex. For that purpose, it is said that beautiful girls in a very juvenile age were chosen to educate them to be Kunoichis. Such kind of tactics is not so unusual that we can find it in any eras. This is so called " Honey Trap " . But in this case, the problem is that, Kunoichis sometimes take a liking to their enemies seriously. It is said that for such a situation, Kunoich needed to be watched. It is common for any period that man always has to be cautious for a woman's mind.
				</p>
			</div>
			<div id="footer">
				<a href="/">Back Home</a>
				<h3> | </h3>
				<a href="/dojo/now">Subscribe!</a>
			</div>
			
			<img src="{{url_for('static', filename='index/img/ninjaLady.jpg')}}" alt="NinjaLady">
		</div>
	</body>
</html>