<!DOCTYPE html>
<html>
<head>
	<title>Dojo Page</title>
	<link rel="stylesheet" type="text/css" href="./static/css/style.css">
</head>
<body>
	<h3>Registration Form</h3>
	<form action="" method="post">
		Name : <input type="text" name="name">
		Email: <input type="text" name="email">
		Password: <input type="Password" name="password">
		<label>Gender
		 <input type="radio" name="gender" value="male" checked> Male
 		 <input type="radio" name="gender" value="female"> Female
  		<input type="radio" name="gender" value="other"> Other 
  		</label>
		<input type="submit" value="Register" >
	</form>

</body>
</html>