<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<meta charset="utf-8">
	<title>Users Index</title>
	<link rel="stylesheet" type="text/css" href="{% static 'ninja_app/css/style.css' %}">
</head>
<body>

	<h1>Edit User {{id}}</h1>

	<form action="/update/{{id}}" method="post">
		{% csrf_token %}
		<label for="first_name">First Name:</label>
		<input type="text" name="first_name" value="{{first_name}}"> 

		<label for="last_name">Last Name:</label>
		<input type="text" name="last_name" value="{{last_name}}"> 

		<label for="first_name">Email:</label>
		<input type="text" name="email" value="{{email}}"> 
		<br>
		<input type="submit" name="submit" value="Update">
	</form>
	<p><a href="/users">Show</a> | <a href="javascript:history.back()">Go Back</a></p>
</body>
</html>