body{
	background: teal
}
#container{
	width: 1000px;
	margin: auto;
	border: 5px solid silver;
	padding: 10px;
	background: black;
	color: teal;
	text-align: center;
}
.box{ 
	display: inline-block;
	border: 2px solid silver;
	height: 240px;
	width: 240px;
	padding-top: 50px;

}
textarea{
	width: 100%;
	border: 2px solid silver;
}