<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<meta charset="utf-8">
	<title>Random Word</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
	<div class="">
		<h4>Random Word (Attempt #{{request.session.attempt}})</h4>
	</div>
	<div class="">
		<form action="generator" method="post">
			{% csrf_token %}
			<div class="random">
				{{request.session.rand}}
			</div>
			<input type="submit" value="Generate">
		</form>
		<form action="reset" method="post">
			{% csrf_token %}
			<input type="submit" value="Reset">
		</form>		
	</div>
</body>
</html>